@model IEnumerable<ProductData.DBconnect.product>

@{
    ViewBag.Title = "GetList";
}

<h2>GetList</h2>

@using (Html.BeginForm("GetList", "Employ", FormMethod.Post))
            {
                <div style="margin-left:800px">
                    @Html.TextBox("search","",htmlAttributes:new {@class="form-control",placeholder="Search New Here..."})
                </div>
                <div style="margin-left:1100px;margin-top:-35px">
                    <button type="submit" class="btn btn-info">Search</button>
                </div>
            }
<table class="table", style="background-color:green">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.picname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            <img src="~/Content/Images/@item.picname" alt="@item.name" width="100" height="100" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }, new {@class="btn btn-danger"}) |
            @Html.ActionLink("Details", "Details", new { id=item.id }, new { @class = "btn btn-primary" }) |
          <a href="@Url.Action("Delete", "Employ", new { id=item.id })", class = "btn btn-warning" onclick="return confirm('Are You Sure To Delete @item.name ?')">Delete</a>
        </td>
    </tr>
}

</table>

@{ 
    double totalpages = ViewBag.TotalPage;
    for(int i = 1; i <= totalpages; i++)
            {
    <ul class="pagination">
        @if (i == ViewBag.PageNo)
        {
            <li class="active">
                @Html.ActionLink(i.ToString(), "GetList", new { PageNumber = i })
            </li>
        }
        else
        {
            @Html.ActionLink(i.ToString(), "GetList", new { PageNumber = i })
        }
    </ul>
            }
    <p>
        @Html.ActionLink("Back to list","Index")
    </p>
}